.btn-dark{
    background-color: black;
}
.card {
  transition: transform 0.5s ease, background 0.5s ease;
  position: relative;
  z-index: 0;
  overflow: hidden;
  margin-bottom: 3vw;
}
.card-img-top {
  width: 100%;
  height: 15rem;
  object-fit: contain;
  border-bottom: 1px solid #ddd;
}

.card:hover {
  transform: scale(1.05);
  background: black;
  animation: gradientBG 3s ease infinite;
  color: white;
  .btn-dark{
    background: white;
    color: black;
  }
}
.modal-footer,.modal-header{
    background: black;
    color: white;
}
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.card:hover .card-title,
.card:hover .card-text {
  color: white;
}
