<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>About Me</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="website icon" type="png" href="../img/branco-removebg-preview.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' type='text/css' media='screen' href='../style/style.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='../style/sobre.css'>
    <!--<script src='main.js'></script>-->
</head>
<body>


  <header class="navbar">

    <div class="navbar-logo">
      <a href="/">
        <img src="../img/branco-removebg-preview.png" class="img-homepage" alt="Logo">
      </a>
    </div>
      <button class="menu-toggle" onclick="toggleMenu()">☰</button>
    <nav class="navbar-links" id="navbarLinks">
      <a class="nav-link" href="/templates/sobre.html">About</a>
      <a class="nav-link" href="/templates/contato.html">Contact</a>
      <a class="nav-link" href="/templates/portfolio.html">Portfólio</a>
      <a class="nav-link" href="https://www.instagram.com/zago_gusta/" target="_blank">
        <i class="fa fa-instagram"></i>
      </a>
      <a class="nav-link" href="https://www.linkedin.com/in/gustavo-zago-23459526b/" target="_blank">
        <i class="fa fa-linkedin"></i>
      </a>
            <a class="nav-link" href="https://www.github.com/Gustavo-Zago/" target="_blank">
        <i class="fa fa-github"></i> 
      </a>
    </nav>
  </header>
  

<main>

  <section id="sobre" class="container py-5">
    <div class="row align-items-center">
      <div class="col-md-6">
        <h2 class="mb-3 titulo">Olá! Sou Gustavo Zago</h2>
        <div class="frase">
          <p>
            Desenvolvedor Full-Stack com experiência em projetos web, automações e soluções personalizadas — fanático pelo Corinthians.<br>
            Apaixonado por resolver problemas e transformar ideias em código funcional. Quando não estou programando, estou jogando vôlei ou ouvindo música.
          </p>
        </div>
        </div>
      <div class="col-md-6 text-center">
        <img src="../img/sobre/Gustavo-Zago.jpeg" class="img-fluid borda" alt="Minha foto" style="height: 70%; width: 70%;">
      </div>
    </div>
    <div class="divisao"></div>
  </section>

<section id="sobre" class="container py-5">
  <div class="row align-items-center">
    <!-- Imagem à esquerda -->
    <div class="col-md-6 text-center">
      <img src="../img/sobre/formacao.jpg" 
           class="img-fluid borda" 
           alt="Foto de formação acadêmica" 
           style="max-width: 70%; height: auto;">
    </div>

    <!-- Texto à direita -->
    <div class="col-md-6">
      <h2 class="mb-3 titulo">Formação Acadêmica</h2>
      <ul class="frase lista-personalizada">
        <li><i class="fa fa-graduation-cap"></i> Técnico de Informática – Completo – Universidade Vale do Paraíba Centro</li>
        <li><i class="fa fa-graduation-cap"></i> Ensino Médio – Completo – Universidade Vale do Paraíba Centro</li>
        <li><i class="fa fa-graduation-cap"></i>Análise e Desenvolvimento de Sistemas – Cursando – FATEC Centro Paula Souza (desde 02/2025)</li>
      </ul>
    </div>
  </div>
  <div class="divisao"></div>
</section>


<section id="sobre" class="container py-5">
  <div class="row align-items-center">
      <div class="col-md-6">
        <h2 class="mb-3 titulo">Cursos Complementares</h2>
        <div class="frase lista-personalizada">
          <ul>
            <li>
              <i class="fa fa-graduation-cap"></i> Análise de Dados com Excel - 12h - Universidade Vale do Paraíba Centro 
              <a href="../img/sobre/Certificado de Analises de Dados com Excel.pdf" target="_blank">🔎</a>
            </li>
            <li>
              <i class="fa fa-graduation-cap"></i> Curso Básico de Git - 8h - RB Tech 
              <a href="../img/sobre/Certificado-Gustavo Zago de Lima.png" target="_blank">🔎</a>
            </li>
            <li><i class="fa fa-language"></i> Inglês – Intermediário</li>
            <li><i class="fa fa-language"></i> Espanhol – Básico</li>
            <li><i class="fa fa-language"></i> Português – Nativo</li>
          </ul>
        </div>
      </div>
    <div class="col-md-6 text-center">
        <img src="../img/sobre/cursos.png" class="img-fluid borda" alt="Minha foto" style="height: 70%; width: 70%;">
    </div>
  </div>
  <div class="divisao"></div>
</section>

<section id="sobre" class="container py-5">
  <div class="row align-items-center">
    <div class="col-md-6 text-center">
      <img src="../img/sobre/hardskills.png" class="img-fluid borda" alt="Minha foto" style="height: 70%; width: 70%;">
    </div>
    <div class="col-md-6">
      <h2 class="mb-3 titulo">HardSkills</h2>
      <div class="frase skills-icons d-flex flex-wrap gap-3">
        <i class="fab fa-cplusplus fa-2x" title="C++"></i>
        <i class="fab fa-cuttlefish fa-2x" title="C#"></i>
        <i class="fab fa-html5 fa-2x" title="HTML"></i>
        <i class="fab fa-css3-alt fa-2x" title="CSS / Bootstrap 5"></i>
        <i class="fas fa-database fa-2x" title="MySQL / MongoDB"></i>
        <i class="fab fa-php fa-2x" title="PHP"></i>
        <i class="fab fa-python fa-2x" title="Python"></i>
        <i class="fab fa-js fa-2x" title="JavaScript"></i>
        <i class="fas fa-brain fa-2x" title="Lógica de Programação"></i>
        <i class="fab fa-git fa-2x" title="Git"></i>
        
      </div>
    </div>
  </div>
  <div class="divisao"></div>
</section>

<section id="sobre" class="container py-5">
  <div class="row align-items-center">
    <div class="col-md-6">
      <h2 class="mb-3 titulo">SoftSkills</h2>
      <div class="frase lista-personalizada">
        <ul>
          <li><i class="fas fa-comments"></i> Boa capacidade de comunicação e trabalho em equipe</li>
          <li><i class="fas fa-lightbulb"></i>Proatividade e iniciativa em aprender e compartilhar conhecimentos</li>
          <li><i class="fas fa-handshake"></i> Resolução de conflitos</li>
          <li><i class="fas fa-heart"></i> Empatia: capacidade de se colocar no lugar do outro, compreender suas perspectivas e sentimentos</li>
        </ul>
      </div>
    </div>
    <div class="col-md-6 text-center">
      <img src="../img/sobre/softskills.jpeg" class="img-fluid borda" alt="Minha foto" style="height: 70%; width: 70%;">
    </div>
  </div>
  <div class="divisao"></div>
</section>

<section id="sobre" class="container py-5">
  <div class="row align-items-center">
    <div class="col-md-6 text-center">
      <img src="../img/sobre/atividades.png" class="img-fluid borda" alt="Imagem Atividades" style="height: 70%; width: 70%;">
    </div>
    <div class="col-md-6">
      <h2 class="mb-3 titulo">Atividades Realizadas</h2>
      <ul class="frase lista-personalizada list-unstyled">
        <li><i class="fas fa-comments me-2"></i>Participação em feiras técnicas utilizando habilidades do meu curso em 2 anos</li>
        <li><i class="fas fa-lightbulb me-2"></i>Participação em feiras de ciências onde apresentei e utilizei conhecimentos interdisciplinares</li>
        <li><i class="fas fa-handshake me-2"></i>Apresentação de TCC</li>
        <li><i class="fas fa-heart me-2"></i>Freelancer (Garçom e Monitor em buffets infantis)</li>
        <li><i class="fas fa-medal me-2"></i>Medalhista de Ouro na OBGP</li>
        <li><i class="fas fa-laptop-code me-2"></i>Estagiário de Informática(08/2024-11/2024)</li>
      </ul>
    </div>
  </div>

  <div class="divisao mt-4"></div>
</section>

</main>

<footer>
  <section class="footer-section">
    <a class="b" href="https://www.instagram.com/zago_gusta/" target="_blank">
      <i class="fa fa-instagram"></i> 
    </a>
    <a class="b" href="https://www.linkedin.com/in/gustavo-zago-23459526b/" target="_blank">
      <i class="fa fa-linkedin"></i> 
    </a>
    <a class="b" href="https://www.github.com/Gustavo-Zago/" target="_blank">
      <i class="fa fa-github"></i> 
    </a>
  </section>

  <section class="footer-section">
    <p class="b">&copy; 2025 Gustavo Zago</p>
  </section>

  <section class="footer-section">
    <a class="b" href="mailto:rrgusta@gmail.com">Contato</a>
  </section>
</footer>

<script src="../sobre.js" defer></script>

</body>
<script>
  function toggleMenu() {
    const menu = document.getElementById('navbarLinks');
    menu.classList.toggle('show');
  }
</script>
</html>